<!DOCTYPE html>

<html lang="es">
  <head>
    <title>Plant Bassed Oficial</title>

    <!--Insertar estilos CSS Externos-->
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">  
  </head>

    <header >
      <h1>
        <img id="logo" src="../assets/images/logo.png" alt="logotipo" />
      </h1>
    </header>
      <nav class="botonera">
        <ul >
          <li><a href="../index.html">Home</a></li>
          <li><a href="./about.html">Nosotros</a></li>
          <li><a href="./plates.html">Nuestros platos</a></li>
          <li><a href="./reserves.html">Reservas</a></li>
          <li><a href="./contact.html">Contacto</a></li>
        </ul>
      </nav>
    <main>
      <section>
        <h2 class="subtitulos-nos">¿Qué es Plant Bassed?</h2>
        <p class="parrafo">
          Una dieta a base de plantas o una dieta rica en plantas es una dieta
          que se compone mayoritaria o totalmente de alimentos de origen
          vegetal. Los alimentos de origen vegetal son alimentos de origen
          vegetal sin alimentos de origen animal ni ingredientes artificiales.
          Si bien una dieta basada en plantas evita o tiene productos animales
          limitados, no es necesariamente vegana.
        </p>
        <img
          class="vegetables"
          src="../assets/images/plants.jpg"
          alt="Verduras"
        />
      </section>
    </main>

    <footer>
      <h2 class="subtitulos-nos"> ¿En qué consiste?</h2>
      <p class="parrafo">
        Una alimentación basada en plantas (ABP) puede ser parcial (80-90% plantas) o total (100% basada en plantas).

Cuando es parcial se deja un porcentaje menor (20-10%) para el consumo ocasional y opcional de alimentos de origen animal de buena calidad o de alimentos mínimamente procesados. Sin embargo, cuando un alimento entero es sometido a algún grado, menor o mayor de procesamiento, en el camino no sólo pierde fibra como se suele pensar, también puede llegar a sufrir una pérdida de hasta casi un 100% de otros nutrientes como proteínas, vitaminas y minerales, entre otros. Por eso, sólo otorgará sus beneficios si esta es en base a plantas que se ingieren en su estado más natural posible la mayor parte del tiempo. 
      </p>
    </footer>
  </body>
</html>
