<!DOCTYPE html>

<html lang="es">
  <head>
    <title>Plant Bassed Oficial</title>

    <!--Insertar estilos CSS Externos-->
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Asap&display=swap"
      rel="stylesheet"
    />
  </head>

  <header>
    <h1>
      <img id="logo" src="../assets/images/logo.png" alt="logotipo" />
    </h1>
  </header>
  <nav class="botonera">
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="./about.html">Acerca de Plant Bassed</a></li>
      <li><a href="./plates.html">Nuestros platos</a></li>
      <li><a href="./reserves.html">Reservas</a></li>
      <li><a href="./contact.html">Contacto</a></li>
    </ul>
  </nav>

  <body>

      <div class="height450">
      <div class="section-title text-center">

        <h2 class="badge-info">Plant Bassed </h2>
      <span class="section-title-line section-title-line"></span>
      </div>
      <div class="social-overlap process-scetion mt100">
      <div class="container">
  
      <div class="col-md-10">
      <div class="social-bar">
      <div class="social-icons mb-3 iconpad text-center">
      <a href="img " target="_blank" class="slider-nav-item"><i class="fab fa-facebook"></i></a>
      <a href="#" target="_blank" class="slider-nav-item"><i class="fab fa-google-plus"></i></a>
      <a href="#" target="_blank" class="slider-nav-item"><i class="fab fa-twitter"></i></a>
      <a href="#" target="_blank" class="slider-nav-item"><i class="fab fa-instagram"></i></a>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </section>
    <section id="contact">
        <div class="direct-contact-container">
          <ul class="contact-list">
            <li class="list-item">
              <i class="fa fa-map-marker fa-2x"
                ><span class="contact-text place">Palermo, Bs As.</span></i>
            </li>

            <li class="list-item">
              <i class="fa fa-phone fa-2x"
                ><span class="contact-text phone"
                  ><a href="tel:1-212-555-5555" title="Give me a call"
                    >(011) 4255-2368</a
                  ></span
                ></i
              >
            </li>

            <li class="list-item">
              <i class="fa fa-envelope fa-2x"
                ><span class="contact-text gmail"
                    >contacto@plant-bassed.com</a
                  ></span ></i>
            </li>
          </ul>


        </div>
      </div>
    </section>
  </body>
</html>
