<!DOCTYPE html>

<html lang="es">
  <head>
    <title>Plant Bassed Oficial</title>

    <!--Insertar estilos CSS Externos-->
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Asap&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <h1>
        <img id="logo" src="../assets/images/logo.png" alt="logotipo" />
      </h1>
    </header>
    <nav>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="./about.html">Nosotros</a></li>
        <li><a href="./plates.html">Nuestros platos</a></li>
        <li><a href="./reserves.html">Reservas</a></li>
        <li><a href="./contact.html">Contacto</a></li>
      </ul>
    </nav>

    <div class="container">
      <div class="menu">
        <h2 class="menu-group-heading">Desayunos y Meriendas</h2>
        <div class="menu-group">
          <div class="menu-item">
            <img
              class="menu-item-image"
              src="../assets/images/breakfast.jpg"
              alt="Desayuno completo"
            />
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Desayuno Completo</span>
                <span class="menu-item-price">$1390</span>
              </h3>
              <p class="menu-item-description">
                Incluye 4 pancakes de harina integral y de trigo con frutas a
                elección, dos tostados de jamón y queso, un huevo revuelto,
                tostada integral con frutas a elección y dos jugos a elección.
              </p>
            </div>
          </div>
          <div class="menu-item">
            <img
              class="menu-item-image"
              src="../assets/images/simple-breakfast.jpg"
              alt="Desayuno simple"
            />
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Desayuno Simple</span>
                <span class="menu-item-price">$650</span>
              </h3>
              <p class="menu-item-description">
                Incluye una bebida; puede ser café o cualquier infusión, jugo),
                dos tostadas integrales, y un plato de frutas a elección.
              </p>
            </div>
          </div>
        </div>
        <h2 class="menu-group-heading">Brunch</h2>
        <div class="menu-group">
          <div class="menu-item">
            <img
              class="menu-item-image"
              src="../assets/images/salad.jpg"
              alt="Hamburguesa Plant Bassed"
            />
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Ensaladas Plant Based</span>
                <span class="menu-item-price">$900</span>
              </h3>
              <p class="menu-item-description">
                Ensaladas a base de plantas de estación seleccionadas, con tofu,
                tomate lechuga y salsa de zanahorias. Se puede elegir ingredientes a gusto.
              </p>
            </div>
          </div>
          <div class="menu-item">
            <img
              class="menu-item-image"
              src="../assets/images/pizza.jpg"
              alt="Sushi Plant Bassed"
            />
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Pizza vegan</span>
                <span class="menu-item-price">$1200</span>
              </h3>
              <p class="menu-item-description">
                Pizza vegana a base de plantas. Podés elegir las verduras de estación a tu gusto, la masa es integral y rinde 8 porciones.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="menu">
        <h2 class="menu-group-heading">Almuerzo y Cena</h2>
        <div class="menu-group">
          <div class="menu-item">
            <img
              class="menu-item-image"
              src="../assets/images/vegan-burger.jpg"
              alt="Desayuno completo"
            />
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Hamburguesa Plant Based</span>
                <span class="menu-item-price">$900</span>
              </h3>
              <p class="menu-item-description">
                Hamburguesa de lentejas y plantas seleccionadas, con tofu,
                tomate lechuga y salsa de zanahorias. Se puede elegir acompañar
                con papas o batatas rústicas.
              </p>
            </div>
          </div>
          <div class="menu-item">
            <img
              class="menu-item-image"
              src="../assets/images/sushi.jpg"
              alt="Desayuno simple"
            />
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Sushi Plant Based</span>
                <span class="menu-item-price">$1400</span>
              </h3>
              <p class="menu-item-description">
                Incluye 14 piezas de sushi basado en plantas seleccionadas. Sus
                ingredientes son; Palta, Zanahoria, Pepino, queso Philadelphia y
                Tomate, cubierto con palta.
              </p>
            </div>
          </div>
        </div>
    


    <h2 class="menu-group-heading">Pastelería y Break</h2>
    <div class="menu-group">
      <div class="menu-item">
        <img
          class="menu-item-image"
          src="../assets/images/break.jpeg"
          alt="Break"
        />
        <div class="menu-item-text">
          <h3 class="menu-item-heading">
            <span class="menu-item-name">Break </span>
            <span class="menu-item-price">$400</span>
          </h3>
          <p class="menu-item-description">
            Opción dulce y salado. Incluye chips para picar, el plato es para
            una sola persona.
          </p>
        </div>
      </div>
      <div class="menu-item">
        <img
          class="menu-item-image"
          src="../assets/images/dessert.jpg"
          alt="Postre vegano"
        />
        <div class="menu-item-text">
          <h3 class="menu-item-heading">
            <span class="menu-item-name">Postre vegano</span>
            <span class="menu-item-price">$650</span>
          </h3>
          <p class="menu-item-description">
            Incluye un flan de vainilla vegano, trae dulce y opcional crema. El
            plato es individual.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
